/* Orginal source code via Smashing Magazine */

* {font-family: 'Jolly Lodger' !important;}
body, select, input, textarea {color:white}
article h1 {font-size:50px}
article h2 {font-size: 40px; margin: 25px 0; line-height: 1em; }
article h3 {font-size: 30px; padding-bottom:25px}
a, a:active, a:visited {color:white; text-decoration:none; border-bottom:1px dotted}
a:hover {color:deepskyblue}
.story { height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 50px rgba(0,0,0,0.8);}

#first {background: url(../images/cloud.jpg) 50% 0 no-repeat fixed}
#second {background: url(../images/ms.jpg) 50% 0 no-repeat fixed}
#third {background: url(../images/nyc.jpg) 50% 0 no-repeat fixed}
#fourth {background: url(../images/london.jpg) 50% 0 no-repeat fixed}
#theend {background: url(http://jootix.com/upload/DesktopWallpapers/cache/Unicorn-unicorn-1600x1200.jpg) 50% 0 no-repeat fixed}

#first article { width: 100%; top: 300px; position: absolute; text-align: center; }

#second article { background: url(../images/grain.png) repeat #333; color: #fff; width: 445px; margin: 100px 60% 0 0; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 3.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }

#third article {  background: url(../images/grain.png) repeat #333; color: #fff; padding: 10px 20px; margin: 100px 0 0 60%; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 3.5em; color: #fff; position: absolute; top: 0; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }

#fourth article { background: url(../images/grain.png) repeat #333; color: #fff; width: 445px; margin: 100px 60% 0 0; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 3.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1);  }

#theend article {  background: url(../images/grain.png) repeat #333; color: #fff; padding: 10px 20px; margin: 100px 0 0 60%; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 3.5em; color: #fff; position: absolute; top: 0; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
